{% extends 'layout/mail_btn.html' %}

{% block content_header %}Forgot your password?{% endblock %}

{% block content_body1 %}Hey, we received a request to reset your password.{% endblock %}

{% block content_body2 %}Let’s get you a new one!{% endblock %}

{% block url1 %}{{ recovery_url }}{% endblock %}

{% block url2 %}{{ recovery_url }}{% endblock %}

{% block content_btn %}RESET MY PASSWORD{% endblock %}

{% block content_footer %}Didn’t request a password reset? You can ignore this message.{% endblock %}