{% extends 'admin/admin_base.html' %}

{% block title %}Dashboard | Faith and Hope{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/status_tags.css') }}">
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script>
        let colors = []
        let borderColors = []
        const generateRandomColor = () => {
            let r = Math.random() * 255
            let g = Math.random() * 255
            let b = Math.random() * 255
            return {
                color: `rgba(${r}, ${g}, ${b}, 0.2)`,
                borderColor: `rgba(${r}, ${g}, ${b}, 1)`
            }
        }

        const generateChart = (ctx, type, label, data) => {
            new Chart(ctx, {
                type: type,
                data: {
                    datasets: [{
                        label: label,
                        data: data,
                        borderWidth: 1,
                        backgroundColor: colors,
                        borderColor: borderColors,
                    }]
                },
            })
        }


        let revenueUsesLabels = []
        let revenueUsesData = []
        let revenueColor
        {% for s in revenue_stats %}
            revenueUsesLabels.push('{{ s[0] }}')
            revenueUsesData.push('{{ s[1] }}')

            revenueColor = generateRandomColor()
            colors.push(revenueColor.color)
            borderColors.push(revenueColor.borderColor)
        {% endfor %}
        const revenueChart = document.getElementById('revenue_chart').getContext('2d')
        generateChart(ctx = revenueChart, type = 'doughnut', label = '# Revenue', data = revenueUsesData)
        colors = []
        borderColors = []

        let medicineUsesLabels = []
        let medicineUsesData = []
        let medicineColor
        {% for s in medicine_stats %}
            medicineUsesLabels.push('{{ s[0] }}')
            medicineUsesData.push('{{ s[1] }}')

            medicineColor = generateRandomColor()
            colors.push(medicineColor.color)
            borderColors.push(medicineColor.borderColor)
        {% endfor %}
        const medicineUsesChart = document.getElementById('medicine_uses_chart').getContext('2d')
        generateChart(ctx = medicineUsesChart, type = 'doughnut', label = '# Amount', data = medicineUsesData)
        colors = []
        borderColors = []

        const appointmentsChart = document.getElementById('appointments_chart').getContext('2d')
        generateChart(ctx = appointmentsChart, type = 'doughnut', label = '#####', data = [1])
    </script>
{% endblock %}

{% block main_content %}
    <!-- Main Content -->
    <main>
        <h1>Dashboard</h1>
        <div class="dashboard">
            <div class="sales">
                <div class="status">
                    <div class="info">
                        <h3>Total Sales</h3>
                        <h1>{% if  %}{{ '${:,.1}'.format(total_revenues[0].total_revenue) }}</h1>
                    </div>
                    <div class="progresss">
                        <canvas id="revenue_chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="medicine-use">
                <div class="status">
                    <div class="info">
                        <h3>Medicine Uses</h3>
                        <h1>{{ '{:,}'.format(total_medicines[0].total_amount) }}</h1>
                    </div>
                    <div class="progresss">
                        <canvas id="medicine_uses_chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="examination-num">
                <div class="status">
                    <div class="info">
                        <h3>Examination</h3>
                        <h1>---</h1>
                    </div>
                    <div class="progresss">
                        <canvas id="appointments_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Analyses -->

        <!-- New Users Section -->
        <!-- End of New Users Section -->

        <!-- Total Sales Table -->
        <div class="statistic-table">
            <h2>Recent Examination Schedule</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Examination Day</th>
                    <th>Created Date</th>
                    <th>Status</th>
                </tr>
                {% for es in examination_schedules %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ es.first_name }}</td>
                        <td>{{ es.last_name }}</td>
                        <td>{{ es.dob.strftime('%Y-%m-%d') }}</td>
                        <td>{{ es.examination_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ es.created_date.strftime('%Y-%m-%d') }}</td>
                        <td>
                            <i class="highlight {% if es.status %}positive-medium{% else %}attention-low{% endif %}"
                               style="--iteration-count: infinite;"></i>
                            <p class="status-tag__txt bac-l-stack-xs">
                                {% if es.status %}
                                    Accepted
                                {% else %}
                                    Pending
                                {% endif %}
                            </p>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <!-- End of Recent Orders -->
    </main>
    <!-- End of Main Content -->
{% endblock %}

{% block right_section_content %}
    <div class="user-profile">
        <div class="logo">
            <img src="{{ current_user.avatar }}" alt="">
            <h2>{% if current_user.is_authenticated %}{{ current_user.user.full_name }}{% else %}Anonymous{% endif %}</h2>
            <p>{% if current_user.is_authenticated %}{{ current_user.role.name }}{% endif %}</p>
        </div>
    </div>
    <div class="reminders">
        <div class="header">
            <h2>Reminders</h2>
            <span class="material-icons-sharp">notifications_none</span>
        </div>
        <div class="notification">
            <div class="icon"><span class="material-icons-sharp">volume_up</span></div>
            <div class="content">
                <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted">08:00 AM - 12:00 PM</small>
                </div>
                <span class="material-icons-sharp">more_vert</span>
            </div>
        </div>
        <div class="notification deactive">
            <div class="icon"><span class="material-icons-sharp">edit</span></div>
            <div class="content">
                <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted">08:00 AM - 12:00 PM</small>
                </div>
                <span class="material-icons-sharp">more_vert</span>
            </div>
        </div>
        <div class="notification add-reminder">
            <div>
                <span class="material-icons-sharp">add</span>
                <h3>Add Reminder</h3>
            </div>
        </div>
    </div>
{% endblock %}