.container {
    grid-template-columns: 16rem 52rem 52rem;
}

.chart {
    margin-top: 80px;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.2s;
}

.chart:hover {
    box-shadow: none;
}

.sales__chart {
    margin-top: 80px;
}

.medicine__chart {
    display: none;
}

.medicine__table {
    display: none;
}

.choose__table {
    margin-top: 20px;
    display: flex;
}

.choose__table h2 {
    padding: 12px 16px;
    margin-right: 10px;
    color: var(--color-dark);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    cursor: pointer;
}

.choose__table h2:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 115, 255, 0.86);
}

.choose__table .is__choose {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.sort__table {
    left: 0;
    margin-left: 3px;
    padding: 10px;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    color: var(--color-dark);
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.sort__table:active {
    box-shadow: var(--box-shadow) !important;
    border-color: var(--color-white) !important;
}

.search__table {
    left: 0;
    margin-left: 3px;
    padding: 12px;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    color: var(--color-dark);
    background-color: var(--color-white);
}

.choose__date {
    left: 0;
    margin-left: 3px;
    padding: 10px;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    color: var(--color-dark);
    background-color: var(--color-white);
    border-color: var(--color-white);
}