main .dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .dashboard > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .dashboard > div:hover{
    box-shadow: none;
}

main .dashboard > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .dashboard h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .dashboard .progresss{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

main .dashboard svg{
    width: 7rem;
    height: 7rem;
}

main .dashboard svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .dashboard .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .dashboard .medicine-use svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .dashboard .examination-num svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .dashboard .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}