{% extends 'layout/base.html' %}

{% block title %}About{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block js_head %}
    <script>
        window.addEventListener("scroll", reveal);

        function reveal() {
            const reveals = document.querySelectorAll(".reveal");
            console.log(reveal);
            for (let i = 0; i < reveals.length; i++) {
                const windowHeight = window.innerHeight;
                const revealTop = reveals[i].getBoundingClientRect().top;
                const revealPoint = 150;

                if (revealTop < windowHeight - revealPoint) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="my-grid">
            <div class="my-row">
                <div class="my-col-6">
                    <div class="banner__content">
                        <h1 class="banner__content--title">About F&H</h1>
                        <p class="banner__content--des">
                            Below is some information to help you better understand us. At the same time, we also want to
                            bring peace of mind about our services.
                        </p>
                        <div class="banner__content--btn">
                            {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('authentication') }}" class="my-btn">Sign in</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="my-col-6">
                    <div class=" banner__image">
                        <img src="{{ url_for('static', filename='images/About.svg') }}" alt="About">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-content" id="about-content">
        <div class="about-content__information reveal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon1 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon2 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon3 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon4 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon5 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon6 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon1 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon2 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>
            <div class="my-grid">
                <div class="my-row">
                    <div class="my-col-6">
                        <div class="informaiton__content">
                            <div class="information__content--right">
                                <h1 class="information__content--right__title">F&H Building</h1>
                                <div></div>
                                <p class="information__content--right__des">
                                    Our clinic was established in 1982 and comes from a large hospital. With a long
                                    history, we always create absolute peace of mind for our customers. Coming to F&H,
                                    you will experience the best services at reasonable prices.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="my-col-6">
                        <div class="informaiton__content--image">
                            <img src="{{ url_for('static', filename='images/Information.svg') }}" alt="informaiton">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-content__service">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon1 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon2 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon3 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon4 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon5 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon6 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon1 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon2 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>
            <h1 class="about-content__service--title reveal">Multi purpose service</h1>
            <div class="about-content__service--line reveal"></div>

            <div class="about-content__service--content">
                <div class="my-grid">
                    <div class="my-row">
                        <div class="my-col-6">
                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-1.png') }}"
                                         alt="about-service-1">
                                </div>
                                <h2 class="about-content__service--card__des">General examination</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-2.png') }}"
                                         alt="about-service-2">
                                </div>
                                <h2 class="about-content__service--card__des">Mental health</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-3.png') }}"
                                         alt="about-service-3">
                                </div>
                                <h2 class="about-content__service--card__des">Advanced technology</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-4.png') }}"
                                         alt="about-service-4">
                                </div>
                                <h2 class="about-content__service--card__des">Remote consultation</h2>
                            </div>
                        </div>

                        <div class="my-col-6">
                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-5.png') }}"
                                         alt="about-service-5">
                                </div>
                                <h2 class="about-content__service--card__des">Medical tests</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-6.png') }}"
                                         alt="about-service-6">
                                </div>
                                <h2 class="about-content__service--card__des">Specialized examination</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-7.png') }}"
                                         alt="about-service-7">
                                </div>
                                <h2 class="about-content__service--card__des">Diabetes health</h2>
                            </div>

                            <div class="about-content__service--card reveal">
                                <div class="about-content__service--card__image">
                                    <img src="{{ url_for('static', filename='images/about-service-8.png') }}"
                                         alt="about-service-8">
                                </div>
                                <h2 class="about-content__service--card__des">Dentistry</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-content__people">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon1 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon2 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon3 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon4 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon5 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                 class="plus-icon plus-icon6 svg replaced-svg">
                <g id="plus2" opacity="0.18">
                    <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                    <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)" fill="none"
                          stroke="#fc5185" stroke-width="2"></line>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon1 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                 class="circle-icon circle-icon2 svg replaced-svg">
                <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                    <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                    <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                </g>
            </svg>

            <div class="about-content__people--content reveal">
                <div class="my-grid">
                    <div class="my-row">
                        <div class="my-col-6">
                            <div class="about-content__people--content__image">
                                <img src="{{ url_for('static', filename='images/people.svg') }}" alt="People">
                            </div>
                        </div>

                        <div class="my-col-6">
                            <div class="about-content__people--content__des">
                                <h1>Professional team</h1>
                                <div></div>
                                <p>
                                    Our team of clinic doctors have many years of experience in the profession and are famous doctors from
                                    many large hospitals. This will help keep your health safe and bring peace of mind to you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="consultant">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon1 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon2 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon3 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon4 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon5 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="19.459" height="19.46" viewBox="0 0 19.459 19.46"
                     class="plus-icon plus-icon6 svg replaced-svg">
                    <g id="plus2" opacity="0.18">
                        <line id="Line_26" data-name="Line 26" y2="19.46" transform="translate(10.379)" fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                        <line id="Line_27" data-name="Line 27" x2="19.46" transform="translate(0 10.379)"
                              fill="none"
                              stroke="#fc5185" stroke-width="2"></line>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                     class="circle-icon circle-icon1 svg replaced-svg">
                    <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                        <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                        <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="21.955" height="21.955" viewBox="0 0 21.955 21.955"
                     class="circle-icon circle-icon2 svg replaced-svg">
                    <g id="circle2" fill="none" stroke="#fc5185" stroke-width="2" opacity="0.23">
                        <circle cx="10.977" cy="10.977" r="10.977" stroke="none"></circle>
                        <circle cx="10.977" cy="10.977" r="9.977" fill="none"></circle>
                    </g>
                </svg>
                <div class="my-grid">
                    <div class="my-row my-row-consultant-mobile" style=" align-items: center;">
                        <div class="my-col-6">
                            <div class="consultant__content">
                                <div class="consultant__content--title">
                                    <h2>Consultant</h2>
                                    <div></div>
                                </div>
                                <form action="" class="consultant__content--form">
                                    <input type="text" placeholder="Your Name" class="input-style">
                                    <input type="text" placeholder="Your Email" class="input-style">
                                    <input type="text" placeholder="Phone" class="input-style">
                                    <textarea name="message" placeholder="Message" required=""
                                              class="texa-style"></textarea>

                                    <div class="btn-form">
                                        <button class="my-btn btn-conslutant">Send Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="my-col-6">
                            <div class="consultant__content--image">
                                <img src="{{ url_for('static', filename='images/consultant.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}