<footer class="footer">
    <div class="my-grid">
        <div class="my-row">
            <div class="my-col-3">
                <div class="footer__content">
                    <h4 class="footer__content--title">Company</h4>
                    <ul class="footer__content--menu">
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('appointment') }}">Appointment</a></li>
                        <li><a href="{{ url_for('medicine') }}">Medicine</a></li>
                        <li><a href="{{ url_for('employee') }}">Employee</a></li>
                    </ul>
                </div>
            </div>

            <div class="my-col-3">
                <div class="footer__content">
                    <h4 class="footer__content--title">Region</h4>
                    <ul class="footer__content--menu">
                        <li><a href="javascript:void(0);">Viet Nam</a></li>
                        <li><a href="javascript:void(0);">Singapore</a></li>
                        <li><a href="javascript:void(0);">Canada</a></li>
                        <li><a href="javascript:void(0);">USA</a></li>
                    </ul>
                </div>
            </div>

            <div class="my-col-3">
                <div class="footer__content">
                    <h4 class="footer__content--title">Support</h4>
                    <ul class="footer__content--menu">
                        <li><a href="javascript:void(0);">Contact support</a></li>
                        <li><a href="javascript:void(0);">How it works</a></li>
                        <li><a href="javascript:void(0);">Instructions</a></li>
                        <li><a href="javascript:void(0);">F&H Help</a></li>
                    </ul>
                </div>
            </div>

            <div class="my-col-3">
                <div class="footer__content">
                    <h4 class="footer__content--title">Contact</h4>
                    <ul class="footer__content--menu">
                        <li><a href="javascript:void(0);">Addres: Nhon Duc, Nha Be</a></li>
                        <li><a href="javascript:void(0);">Phone: +84388224064</a></li>
                        <li><a href="javascript:void(0);">Email: faith.n.hope@gmail.com</a></li>
                        <li><a href="https://www.facebook.com/faithandhopeHTH/">Fanpage: Faith and Hope</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>