<header>
    <div class="my-nav">
        <div class="my-grid">
            <div class="my-row">
                <div class="my-col-2">
                    <div class="nav__logo">
                        <a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='images/default-logo.png') }}" class="default-logo" alt="Default Logo">
                            <img src="{{ url_for('static', filename='images/sub-logo.png') }}" class="sub-logo" alt="Sub Logo">
                        </a>
                    </div>
                </div>

                <div class="my-col-10">
                    <ul class="nav__menu">
                        <li><a href="{{ url_for('index') }}" class="home choose">Home</a></li>
                        <li><a href="{{ url_for('about') }}" class="about choose">About</a></li>
                        <li><a href="{{ url_for('healthcare_staff') }}" class="healthcare_staff choose">Healthcare Staff</a></li>
                        <li><a href="{{ url_for('appointment') }}" class="appointment choose">Appointment</a></li>
                        <li><a href="{{ url_for('pay') }}"  class="medicine choose">Medicine</a></li>
                        {% if not current_user.is_authenticated %}
                            <li><a href="{{ url_for('authentication') }}">Sign in</a></li>
                        {% else %}
                            <li>
                                <div class="avatar">
                                    <div class="avatar__image">
                                        <img src="{{ current_user.avatar }}" alt="avatar">
                                    </div>
                                    <h2 class="avatar-name">{{ current_user.user.full_name }}</h2>
                                    <div class="avatar__des">
                                        <a href="{{ url_for('profile_settings', slug=current_user.slug) }}" class="avatar__des--btn">
                                            <i class="fa-solid fa-user"></i> Profile
                                        </a>
                                        <a href="{{ url_for('account_settings', slug=current_user.slug) }}" class="avatar__des--btn">
                                            <i class="fa-solid fa-gear"></i> Settings
                                        </a>
                                        <a href="{{ url_for('signout') }}" class="avatar__des--btn">
                                            <i class="fa-solid fa-right-from-bracket"></i> Sign out
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>